html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    font-size: 1.2rem;
    gap : 1.2rem
}

.header {
    margin-top: 1rem;
}